<aside class="main-sidebar sidebar-dark-primary elevation-4">
<!-- Brand Logo -->
<a href="#" class="brand-link elevation-4">
  <img src="{{ url_for('static', filename='dist/img/logo.png') }}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
  <span class="brand-text font-weight-light">JimShapedCoding</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
  <!-- Sidebar user (optional) -->
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <img src="{{ url_for('static', filename='dist/img/secondary-logo.png') }}" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
      <a href="#" class="d-block">Ball App 3</a>
    </div>
  </div>

  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
      <li class="nav-item menu-is-opening menu-open">
        <a href="#" class="nav-link">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <p>
            {{ session_type }}
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          {% for session in sessions %}
            <li class="nav-item">
              <a href="{{url_for('session.edit_session_route', session_name=session, session_type=session_type)}}" class="nav-link">
                <i id="{{ session }}_nav_icon" class="far fa-circle nav-icon"></i>
                <p>{{ session }}</p>
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</div>
</aside>
<script>
  // Code for coloring the icon of the selected session
  currentSessionName = "{{ request.view_args.get('session_name') }}";
  document.querySelectorAll("[id$=_nav_icon]").forEach(element => {
    if (element.id.includes(currentSessionName)) {
      element.style.color = "#FA8320"
    }
  });
</script>